*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
section{
    width: 100%;
    height: 100vh;
}
.sec1{
    background-color: gray;
}
.sec2{
    .swiper{
        height: 100vh;
        .swiper-wrapper{
            .swiper-slide{

            }
        }
    }
}
